header{
  font-family: helvetica;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  background-color: black;
}
.and{
  font-family: helvetica;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
  background-color: black;
}
.image{
  height: 25%;
  width: 25%;
  {
